
<p-dialog [(visible)]="viewDepartementTechnicienDialog" [style]="{width: '70vw'}"
        header="" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Technicien</label>
                                    <p-dropdown [options]="techniciens" [(ngModel)]="selectedDepartementTechnicien.technicienVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="identifiant"
                                            placeholder="Technicien">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Departement</label>
                                    <p-dropdown [options]="departements" [(ngModel)]="selectedDepartementTechnicien.departementVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Departement">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Date debut</label>
                                    <p-calendar id="3" [disabled]="true"  [showTime]="true" [showSeconds]="false"
                                                placeholder="Date debut"  [(ngModel)]="selectedDepartementTechnicien.dateDebut"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">Date fin</label>
                                    <p-calendar id="4" [disabled]="true"  [showTime]="true" [showSeconds]="false"
                                                placeholder="Date fin"  [(ngModel)]="selectedDepartementTechnicien.dateFin"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-technicien-create-chercheur></app-technicien-create-chercheur>
            <app-departement-create-chercheur></app-departement-create-chercheur>



</p-dialog>



