#x{
    display: flex;
}
.speed-dial {
    position: relative;
    background-color: transparent;
    border: none;
    /*bottom: 15px;
    right: 15px;*/
    margin-right: 20px;
}

.speed-dial__options {
    position: absolute;
    bottom: 100%;
    width: 100%;
    text-align: center;
}

.speed-dial__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 15px;
    background: #FFFFFF;
    color: #333333;
    border-radius: 10%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none;
    /*transition: background 0.2s, opacity 0.2s, transform 0.2s;*/
    margin-left: 5px;
    font-size: 15px;
}

.speed-dial__button:active {
    background: #aaaaaa;
}

.speed-dial__button--primary {
    margin-bottom: 15px;
    /*padding: 18px;*/
    background: #c7e7f2;
    color: #000000;
    margin-left: 25px;
    border-radius: 50%;
}

.pi-globe{
    font-size: 20px;
}

.speed-dial__button--primary:active {
    background: #00856a;
}

.speed-dial__button:not(.speed-dial__button--primary) {
    opacity: 0;
    /*transform: translateY(40px);*/
    visibility: hidden;
}

.speed-dial--active .speed-dial__button {
    opacity: 1;
    /*transform: translateY(0);*/
    visibility: visible;
}
.footer-icons{
    margin-top: 10%;
}
