        <p-dialog [(visible)]="createKoscEmployeeDialog" [style]="{width: '70vw'}"
                header="Kosc employee" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Kosc employee">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">First name</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="First name"
                                                   id="1" [(ngModel)]="selectedKoscEmployee.firstName"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Last name</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Last name"
                                                   id="2" [(ngModel)]="selectedKoscEmployee.lastName"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="3">Phone</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Phone"
                                                   id="3" [(ngModel)]="selectedKoscEmployee.phone"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="4">Cell phone</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Cell phone"
                                                   id="4" [(ngModel)]="selectedKoscEmployee.cellPhone"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Email1</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Email1"
                                                   id="5" [(ngModel)]="selectedKoscEmployee.email1"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="6">Email2</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Email2"
                                                   id="6" [(ngModel)]="selectedKoscEmployee.email2"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="7">Email3</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Email3"
                                                   id="7" [(ngModel)]="selectedKoscEmployee.email3"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
