        <p-dialog [(visible)]="editChercheurDialog" [style]="{width: '70vw'}"
                header="Chercheur" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'Chercheur' | translate}}">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">{{'Numero matricule' | translate}}</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'Numero matricule' | translate}}"
                                                   id="1" [(ngModel)]="selectedChercheur.numeroMatricule"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Role</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Role"
                                                   id="2" [(ngModel)]="selectedChercheur.role"
                                                     />
                                            
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="3">{{'Identifiants non expirés' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="selectedChercheur.credentialsNonExpired"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="4">{{'Activé' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="4"  [(ngModel)]="selectedChercheur.enabled"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="5">{{'Compte non expiré' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="5"  [(ngModel)]="selectedChercheur.accountNonExpired"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="6">{{'Compte non verrouillé' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="selectedChercheur.accountNonLocked"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="7">{{'Mot de passe changé' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="7"  [(ngModel)]="selectedChercheur.passwordChanged"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">{{'Créé à' | translate}}</label>
                                            <p-calendar id="8"   [showTime]="true" [showSeconds]="false"
                                                        placeholder="{{'Créé à' | translate}}"  [(ngModel)]="selectedChercheur.createdAt"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">{{'Modifié à' | translate}}</label>
                                            <p-calendar id="9"   [showTime]="true" [showSeconds]="false"
                                                        placeholder="{{'Modifié à' | translate}}"  [(ngModel)]="selectedChercheur.updatedAt"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">{{'Nom d\'utilisateur' | translate}}</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'Nom d\'utilisateur' | translate}}"
                                                   id="10" [(ngModel)]="selectedChercheur.username"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="11">{{'Mot de passe' | translate}}</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'Mot de passe' | translate}}"
                                                   id="11" [(ngModel)]="selectedChercheur.password"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="12">{{'Prénom' | translate}}</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'Prénom' | translate}}"
                                                   id="12" [(ngModel)]="selectedChercheur.prenom"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="13">{{'Nom' | translate}}</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'Nom' | translate}}"
                                                   id="13" [(ngModel)]="selectedChercheur.nom"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="{{'Annuler' | translate}}" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="{{'Valider' | translate}}" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
